.wrap {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#1F2739;
}

.text p {
    color: #fff;
}
