.scene {
  width: 100%;
  min-height: 100%;
  height: 100%;
  position: relative;
}

.scene-wrap {
  width: 100%;
  min-height: 100%;
  height: 100%;
  position: relative;
}

.control {
  width: 300px;
  height: 83px;
  position: absolute;
  left: 10px;
  bottom: 0;
  z-index: 99;
}

.restart-button {
  font-size: 14px;
  font-weight: bold;
  color: #a0a4a7;
  text-align: left;
  width: 226px;
  border: none;
  outline: none;
  padding: 18px;
  cursor: pointer;
  background-color: #434343;
}

.restart-button:hover {
  background-color: #dddddd;
}

.count {
  width: 200px;
  height: 200px;
  background-color: #434343;
  color: #a0a4a7;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 60px;
  top: 40px;
  right: 100px;
  z-index: 99;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
